* {
    margin: 0;
    padding: 0;

}

body {

    background-color: gray;
    color: black;
    position: relative;
    min-height: 100vh;



}

header {

    background-color: #213555;
    width: 100%;
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 30px;
    font-weight: 900;


}

header div {

    background-color: grey;
    /* padding: 0.5rem; */
    width: 15%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: #F5EFE7 2px solid;

}
#start {
   
    display: flex;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    font-size: 2rem;
    padding: 1rem;
    color: aliceblue;
    border: none;
    box-shadow: 0 0 5px #F5EFE7;
    cursor: pointer;
    border-radius: 10px;
    text-shadow: 0 0 5px #213555;
    margin-top: 4rem;
}

.quesNans-bar {
    width: 38vw;
    /* height: 70vh; */
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.quesNans-bar div {
    background-color: rgb(249, 244, 244);
    width: 35vw;
}

.ques-bar {

    text-align: center;
}

.ans-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 10vh; */
}
.choice {
    padding: 0 5px;
    cursor: pointer;
    display: flex;
    font-size: 24px;
}
.choice input {
    display: inline-block;
    /* padding-right: 15px; */
}
.ques-bar p {

    margin-top: 35px;
    font-size: 25px;
}

.ans-bar label {

    margin: 15px;
    font-size: 25px;
}

.nav-bar {

    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-evenly;
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem;
}

.nav-bar input {
    background-color: #4F709C;
    /* width: 20px; */
    text-align: center;
    border-radius: 10%;
    border: #F5EFE7 2px solid;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem;
}

.ans-bar div {

    margin: 10px;

}

.correct{
    background-color: green;
    color: #F5EFE7;
}
.wrong {
    background-color: red;
    color: #F5EFE7;
}

.endScreen {
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}
.endScreen p:first-child{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 2px orangered;
}
.endScreen p:last-child{
    font-size: 5rem;
    color: #213555;
    /* border: black solid; */
    width: 98%;
    text-align: center;
}
.optionFile {

    /* border: white 1px solid; */
    display: flex;
    height: 20rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;


}

.container {

background-color:rgb(39, 38, 38);


}

.optionFile div {

    background-color: rgb(9, 9, 85);
    color: white;
    padding: 1rem;
    width: 12rem;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    box-shadow: gray 1px 1px 1px 1px;
    font-weight: 900;
    opacity: 0.6;
    transition: 1s;
    font-family: 'Open Sans', sans-serif;

}

.optionFile div:hover {

    background-color: white;
    color: black;
    opacity: 1;

}

h1 {

    width: 96%;
    flex-wrap:wrap ;
    text-align: center;
    padding: 20px;
    margin-bottom: 80px;
    color: #F5EFE7;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
}


/* RESPONSIVENESS */

/* @media screen and (max-width:700px) { */



    header {

        width:100%;
        height: 5vh;
        display: flex;
        justify-content: space-around;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    header div {

        width: 33%;
        background-color: none;
        float: none;
        font-size: 20px;
        display: flex;
        font-weight: 900;
    }


    header P {

        font-size: 30px;
        margin-top: 8rem;
        color: rgb(231, 224, 224);
        font-weight: 900;

    }

    .quesNans-bar {

        width: 95%;
        height: 45vh;
        margin-top: 70px;


    }

    .quesNans-bar p {

        font-size: 30px;
    }

    .quesNans-bar div {

        width: 100%;
        height: 20vh;


    }

    .quesNans-bar .ans-bar {

        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 10px;


    }

    .quesNans-bar .ques-bar {

        width: 90%;

    }

   
        



   
    .nav-bar input {

        width: 30%;
        font-size: 15px;



    }


    .startQuiz button {
        position: absolute;
        bottom: 40%;
        left: 46%;
        background: transparent;
        font-size: 2rem;
        padding: 1rem;
        color: aliceblue;
        border: none;
        box-shadow: 0 0 5px #F5EFE7;
        cursor: pointer;
        border-radius: 50px;
        text-shadow: 0 0 5px #213555;

}


  

    .quesNans-bar div {

        width: 70%;
        font-size: 20px;

    }

    .quesNans-bar label {

        font-size: 10px;
        
    }

    .nav-bar {

        width: 80%;
    }


    .nav-bar input {

        width: 30%;
    }


    .startQuiz {
        position: absolute;
        top:40%;
        right: 20%;
        background: transparent;
        font-size: 2rem;
        padding: 1rem;
        color: aliceblue;
        border: none;
        box-shadow: 0 0 5px #F5EFE7;
        cursor: pointer;
        border-radius: 50px;
        text-shadow: 0 0 5px #213555;
       
}
