*{
        margin: 0;
        padding: 0;

 }

 body {

        background-color: gray;


 }

     header{

        background-color:  cadetblue;
        width: 98.4%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color:white;
        font-size: 30px;
        font-weight: 900;


     }

     header div {

            background-color: grey;
            width: 15%;
            border-radius: 5%;
            display: flex;
            justify-content: center;
            cursor: pointer;


    }

     .quesNans-bar {

            background-color: cadetblue;
            width: 38vw;
            height: 70vh;
            margin: 10px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;


    }


    .quesNans-bar div {

            background-color: rgb(249, 244, 244);
            width: 35vw;
            height: 30vh;

    }

    .ques-bar {

            text-align: center;
    }


    .ques-bar input {

        background-color: coral;
        padding: 0.5rem;
        font-weight: 700;

    }
    .ans-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 10vh;



    }
    .ques-bar p {

        margin-top: 35px;
        font-size: 25px;
    }

    .ans-bar label {

        margin: 15px;
        font-size: 25px;
    }

    .nav-bar {

        background-color: cadetblue;
        display: flex;
        justify-content: space-evenly;
        width: 48%;
        margin-left:auto;
        margin-right: auto;
        padding: 0.3rem;
    }

    .nav-bar input {

        background-color: coral;
        width: 10vw;
        text-align: center;
        border-radius: 10%;
        border: 5px rgb(82, 67, 57) solid;
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 600;
        padding: 0.5rem;
    }

    .ans-bar div {

      margin: 10px;

    }


    /* RESPONSIVENESS */

        @media screen and ( max-width:700px){



            header{

                width: 91.4%;
                /* background-color:  rgb(23, 235, 242); */
                height: 5vh;
                display: flex;
                justify-content: space-around;
                float: none;
            }

            header div {

                width: 33%;
                background-color:none;
                float: none;
                font-size: 20px;
                display: flex;
                /* justify-content: center; */
                font-weight: 900;
                text-decoration: ;
            }

            
            header P {

                /* background-color: black; */
                font-size: 30px;
                margin-top: 8rem;
                color: rgb(26, 15, 15);
                font-weight: 900;

        }

        .quesNans-bar {

            /* background-color: aquamarine; */
            width: 95%;
            height: 45vh;
            margin-top: 70px;


        }

        .quesNans-bar p{

            font-size: 20px;
         } 

      .quesNans-bar div {

        background-color: grey;
        width: 100%;
        height: 20vh;


        } 

        .quesNans-bar   .ans-bar  {

            /* background-color: aqua; */
            width: 90%;
            display: flex;
            flex-direction:column;
            justify-content: space-evenly;
            font-size: 10px;


        }

         .quesNans-bar .ques-bar {

            width: 90%;

        }

        .ans-bar label {
            /* background-color: brown; */
            margin: 0px;
            width: 70%;
            margin-right: auto;
            margin-left: auto;
            

        }
/* 
        .nav-bar{
            width: 100%;
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
          
        } */

        .nav-bar input {

            background-color: coral;
            width: 90%;
            font-size: 15px;
           
         
            
        }




    }

                 /* 
                /* TABLET VIEW */

    @media screen and (max-width: 900px) {
                
        header{
            width: 96%;
            /* background-color: rgb(38, 48, 28); */

        }


        header div {

            width: 30%;

        }
 
        .quesNans-bar  {

            width: 80%;
        }

        .quesNans-bar div {

            width: 70%;
            font-size: 20px;
            
        }

        .quesNans-bar label {

            font-size: 10px;
        }

        .nav-bar  {

            width: 80%;
        }


        .nav-bar input {

            width: 30%;
        }
  } 